<head>
  <title>#TodaysMazai</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='icon' type='image/png' sizes='32x32' href='https://s3.monsterenergy.com/production/skin/default/img/fav/favicon-32x32.png'>
</head>
