<!DOCTYPE html>
<html>
  <%- include('header') -%>
  <body>
    <h1>#TodaysMazai</h1>
    <p>Be the Monster Energy addict.</p>
    <input id='reload' type='button' value='reload'>
    <p>They are all TodaysMazaist.</p>
    <table id='list'>
      <tr><td>fetching data from DB...</td></tr>
    </table>
    <script src='https://code.jquery.com/jquery-git.js'></script>
    <script src='javascripts/index.js'></script>
  </body>
</html>
