<!DOCTYPE html>
<html>
  <%- include('header') -%>
  <body>
    <h1>#TodaysMazai</h1>
    <form id='form'>
      <label for='lfd'>LastFoundDate : </label>
      <input class='input' id='lfd' step=1 type='datetime-local' name='lfd' />
      <br>
      <label for='tfd'>TotalFirstDate : </label>
      <input class='input' id='tfd' step=1 type='datetime-local' name='tfd' />
      <br>
      <label for='tc'>TotalCount : </label>
      <input class='input' id='tc' type='number' name='tc' />
      <br>
      <label for='tyc'>ThisYearCount : </label>
      <input class='input' id='tyc' type='number' name='tyc' />
      <br>
      <input type='submit' value='update' />
    </form>
    <div id='settings'><p>fetching settings...</p></div>
    <script src='https://code.jquery.com/jquery-git.js'></script>
    <script src='javascripts/index.js'></script>
  </body>
</html>
