body {
  background-color: #000000;
  color: #8eb82f;
  text-align: center;
}
table {
  margin: auto;
}
a:link {
  color: #8eb82f;
}
a:visited {
  color: #52c8e2;
}
a:hover {
  color: #f5711f;
}
a:active {
  color: #ffffff;
}
